.table-div {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
}

.description {
  margin-bottom: 0.5rem;
}

.institute {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-dark-blue);
}

