.skills-container {
  max-width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.skill-name {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}