.skills-container {
  max-width: 100%;
  padding: 0;
}

.skill-name {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  width: fit-content;
  display: flex;
}

.skill-col {
  padding: 0;
}

.progress {

}

/* medium screens */
@media (max-width: 991px) {
  .skills-name {
    margin-top: 0.5rem;
  }
}