.layout-main-container {
  //padding: 1rem;
  width: 100vw;
  margin: 0;
  height: 100vh;
}

.landing-buttons-div {
  width: 100%;
  margin-bottom: 1rem;
}

.content-container {
  width: 100%;
  height: 100%;
}
