.burger-menu-btn {
  background: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: var(--transition-base);

  &:hover,
  &:focus {
    background-color: var(--color-bg-tertiary);
    color: var(--color-accent);
    outline: none;
  }

  &.active {
    background-color: var(--color-accent);
    color: var(--color-bg-primary);

    .nav-icon-wrapper,
    .nav-link-text {
      color: var(--color-bg-primary);
    }
  }
}

.nav-icon-wrapper {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-text {
  font-size: 1.1rem;
  font-weight: 500;
}

.nav {
  width: 100%;
  //margin-bottom: 1rem;
  height: 100%;
}

.links {
  text-align: left;
  width: 100%;
}
