.burger-menu-btn {
  background: none;

  &:hover, &:focus, &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.nav-link {
  display: flex;
  text-align: left;
  color: black;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  border-radius: 0.4rem;

  &:hover, &:focus, &:active {
    color: var(--midnight-green-1);
  }
}

.nav-icon {
  font-size: 20px;
  margin-right: 10px;
}

.nav {
  width: 100%;
  //margin-bottom: 1rem;
  height: 100%;
}

.links {
  text-align: left;
  width: 100%;
}

