.nav-item {
  margin:  0.5rem 1rem;
}

.nav-link {
  color: var(--midnight-green-1);
}

.collapsed-navbar {
  background: var(--color-light);
  min-width: 10rem;
  text-align: left;
}

.navbar-collapse{
  //width: 100%;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  justify-content: center;
}

.navbar-toggler-icon {
  //margin-left: 1rem;
  color: var(--rgba-midnight-green-30);
}


.navbar {
  //background: var(--rgba-midnight-green-30);
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
}

@media (max-width: 1452px) {

}