.cv-page-container {
  padding: 2rem;
}

.cv-section {
  margin: 3rem 0;
  padding: 0 3rem !important;
}

.section-header {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--color-dark-blue);
  margin-bottom: 1rem;
  text-align: left;
}


/* medium screens */
@media (max-width: 991px) {
  .section-header {
    text-align: center;
  }

  .cv-section {
    padding: 0 2rem !important;
  }
}