.cv-page-container {
  padding: 2rem 15rem;
  width: 100%;
}

.cv-section {
  margin: 3rem 0;
  padding: 0 3rem;
}

.cv-photo {
  width: 12rem;
  height: 15rem;
  border-radius: 1rem;
}

.section-header {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: var(--midnight-green-1);
  margin-bottom: 1rem;
  text-align: left;
}

.education {
  text-align: left;
  //padding: 2rem !important;
}

.experiences {
  text-align: left;
  //padding: 2rem !important;
}

/* medium screens */
@media (max-width: 991px) {
  .section-header {
    text-align: center;
  }

  .cv-section {
    margin: 1rem 0;
    padding: 0 0.5rem !important;
  }

  .cv-page-container {
    padding: 3rem;
  }
  .cv-photo {
    width: 100%;
    height: 100%;
  }
}
