

/* Very Small Screens */
//@media (max-width: 840px) {
//
//  .landing-buttons-div{
//    left: 5%;
//  }
//}

/* Medium Screens */
//@media (max-width: 1452px) {
//
//  .landing-buttons-div{
//    left: 3%;
//  }
//}

