.main-container {
  max-width: 100vw;
  padding: 0;
  text-align: center;
}

.landing-buttons-div {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 4%;
}

/* Very Small Screens */
@media (max-width: 840px) {

  .landing-buttons-div{
    left: 5%;
  }
}

/* Medium Screens */
@media (max-width: 1452px) {

  .landing-buttons-div{
    left: 3%;
  }
}

