.table {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
}

.description {
  text-align: justify;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.position-col {
  margin: auto;
}

.company {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-dark-blue);
}
